<ion-header>
  <ion-toolbar>
    <ion-title>
      Pacientes
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Comencemos</ion-card-subtitle>
      <ion-card-title>Seccion de pacientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> En esta sección se mostraran los pacientes que serán atendidos por ti.</p>
      <br>
      <p> Por ahora no tienes ningún paciente ya que no participas en ninguna jornada como voluntario.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
