<ion-header>
  <ion-toolbar>
    <ion-title>
      Jornadas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/background.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Comencemos</ion-card-subtitle>
        <ion-card-title>Bienvenido a tu </ion-card-title>
        <ion-card-title>Gestor de jornadas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aún no tienes jornadas creadas, y tampoco participas en una.<p>
        <br>
        <p>Puedes iniciar creando jornadas con el botón "+" en la parte inferior, o solicitando que te inviten como voluntario de una jornada en curso</p>
      </ion-card-content>
    </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="openModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
