<ion-content padding>
    <img class="logo" src="assets/icon/logo.png" alt="">
  <ion-card color="light">

    <ion-card-header>
      <br>
      <ion-card-subtitle color="light" text-center>¡Bienvenido!</ion-card-subtitle>
      <ion-card-title text-center="true">Iniciar sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="light">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <br>
      <ion-grid>
        <ion-row>
          <ion-col [offset]="6" size="6">
            <ion-button (click)="onSubmitLogin()" color="tertiary" expand="block">
              Entrar
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button color="secondary" expand="block">
              Registrarme
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>

